@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url('/fonts/instrument-sans-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/ibm-plex-mono-latin-300-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/ibm-plex-mono-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/ibm-plex-mono-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/ibm-plex-mono-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/ibm-plex-mono-latin-700-normal.woff2') format('woff2');
}

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Instrument Sans', -apple-system, sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --color-lime-50: #fbfde8;
  --color-lime-100: #f5fbb3;
  --color-lime-200: #eef87e;
  --color-lime-300: #ddf34c;
  --color-lime-400: #c8f031;
  --color-lime-500: #a9d316;
  --color-lime-600: #84a70e;
  --color-lime-700: #647f11;
  --color-lime-800: #4f6413;
  --color-lime-900: #435514;
  --color-lime-950: #232f06;

  --animate-shimmer: shimmer 8s ease-in-out infinite alternate;

  @keyframes shimmer {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-border: var(--ui-color-neutral-900);
}
